$bg-color: #3D3A4B;        //Independence
$primary-color: #FAF3DD;   //Eggshell
$secondary-color: #8FC0A9; //Cambridge Blue
$tertiary-color: #272D2D;  //Deep Space Sparkle
$accent-color: #C8D5B9;    //Laurel Green
$scrollbar-color: #406E8E;

