nav{
    font-family: 'Libre Franklin', sans-serif;
}

h1, h2, .links{
    font-family: 'Libre Franklin', sans-serif;
}

p, time{
    font-family: 'Roboto Slab', serif;
}

// ELEMENT	               | SIZING	| NOTES
// Page titles	           | 20sp	
// Paragraph text	       | 14sp	
// List titles	           | 14sp	| Show importance using medium weight
// List item titles,
// Important text snippets | 16sp	
// Secondary text,
// Captions	               | 14sp	| Use lighter color to show lowered importance
// Buttons,
// Tabs	                   | 14sp	| Medium weight
// Text inputs	           | 16sp