@import "color-scheme";
@import "reset";
@import "bg-svg";
@import "font-style";
@import "utilities";
@import "scrollbar";

@mixin indent($vw-indent) {
    margin-left: $vw-indent;
    margin-right: $vw-indent;
}


body{
    background-color: $bg-color;
    position: relative;
    z-index: 1;

    .modal{
        z-index: 2;
        position: fixed;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        display: none;
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

        .modal-img{
            margin: auto;
            position: absolute;
            top: 0; 
            left: 0; 
            bottom: 0; 
            right: 0;
            height: 80vh;
            width: 90vw;
            background-color: blue;
        }
    }
    
}


nav{
    height: fit-content;
    width: 100vw;
    background-color: $tertiary-color;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0px 1px 10px 0px $secondary-color;
    padding: .5rem 1.5rem .5rem 1.5rem;
    overflow-x: hidden;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;

    a{
        font-size: 1.4rem;
    }

    a:visited{
        color: $primary-color;
    }

    a:link{
        text-decoration: none;
    }

    a:hover{
        color: $accent-color;
        transition: $transition-default;
    }

    aside {
        display: grid;
        grid-template-columns: repeat(3, 1fr) ;
        align-self: center;
        column-gap: .5rem;

        a {
            margin-left: 1rem;

            ion-icon{
                vertical-align: middle;
            }
        }

        a:link{
            text-decoration: none;
        }

        a:hover{
            color: $accent-color;
            transform: $scale-size;
            transition: $transition-default;
        }
    }
}

section{
    width: 100vw;
    position: relative;

    header{
        position: relative;
        display: grid;
        align-items: center;
        grid-template-areas: 
        "topLeft topRight"
        "summary summary";
        margin: 4vh 0 3vh 0;
        row-gap: 2rem;

        h1{
            grid-area: topLeft;
            background-color: $tertiary-color;
            font-size: 48px;
            opacity: .9;
            border-right: 3px solid $accent-color;
            border-bottom: 3px solid $accent-color;
            border-radius: 5px 10px 20px 10px;
            width: fit-content;
            margin-left: $vw2;
            padding: .5vh 5vw .5vh 3vw;
            box-shadow: 4px 5px 10px -4px $secondary-color; //bottom right glow
            border: 2px double $primary-color;
        }
    
        p{
            grid-area: summary;
            @include indent($vw5);
            background-color: $tertiary-color;
            padding: 16px;
            border-radius: 5px 10px 20px 10px;
            box-shadow: 0px 2px 5px 0px $secondary-color;
            border: 2px double $primary-color;
        }

        .links{
            grid-area: topRight;
            justify-self: flex-end;
            margin-right: $vw2;
            white-space: nowrap;
            line-height: 1.6rem;
            opacity: .9;
            background-color: $tertiary-color;
            box-shadow: -4px 5px 10px -4px $secondary-color;
            border: 2px double $primary-color;
            padding: .5vh 3vw .5vh 5vw;
            border-radius: 10px 5px 10px 20px;
            

            aside{

                a{
                    color: $primary-color;
                    text-decoration: none;
                }
    
                a:hover{
                    text-decoration: underline;
                    color: $accent-color;
                    transition: $transition-default;
                }
            }
        }   
    }
    
    .card-section{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        justify-items: center;
        row-gap: 1rem;
        column-gap: .5rem;
        position: relative;

        .card{
            height: fit-content;
            width: 90%;
            background-color: $tertiary-color;
            padding: 1rem;
            border-radius: 5px 10px 20px 10px;
            box-shadow: 0px 2px 5px 0px $secondary-color;
            border: 2px double $primary-color;

            .topic{
                display: flex;
                margin-bottom: 8px;
                padding-bottom: 1vh;
                justify-content: space-around;
                

                h2{
                    font-size: 150%;
                    width: 100%;
                }

                time{
                    font-size: 125%;
                    opacity: .9;
                    margin-right: $vw3;
                }
    
            }

            img{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: auto;
                border-radius: 10px;
                margin-bottom: 16px;
                border-bottom: 10px solid $bg-color;
                border-top: 10px solid $bg-color;

            }
            .expand-img{
                cursor: grab;
            }

            .expand-img:hover{
                opacity: .7;
                transition: .2s;
            }

            p{
                @include indent($vw1);
                margin-bottom: 8px;
                padding: .5rem;
                // background-color: $secondary-color;
                // color: $tertiary-color;
                // border-radius: 10px;
            }

            .pdf-frame{
                width: 100%;
                height: 400px;
            }

            .skills{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                width: 95%;
                margin: 0 auto;

                div{
                    border-radius: 10px;
                    font-size: 75%;
                    background-color: $accent-color;
                    width: fit-content;
                    margin-top: 8px;
                    padding: 8px;
                    color: $bg-color;
                    
                }

                .inverted{
                    color: $accent-color;
                    background-color: $bg-color;
                }

                .squeeze{
                    @include indent($vh2)
                }

                .left-align{
                    justify-content: flex-start !important;
                }

            }

            .inner-card{
                background-color: $accent-color;
                box-shadow: 0px 2px 3px 0px $secondary-color;
                color: $bg-color;
                border-radius: 10px;
                margin: 0 auto;
                border: 4px solid $bg-color;
                padding: 8px;
                margin-top: 8px;
                margin-bottom: 16px;

                .item-date{
                    margin-left: $vw1;
                    margin-top: $vh1;
                    margin-bottom: $vh1;
                    display: grid;
                    grid-template-rows: repeat(1fr, auto);

                    div:nth-child(even){
                        margin-left: $vw2;
                        font-style: italic;
                        font-weight: 400;
                    }

                    div:nth-child(odd){
                        font-weight: 500;
                    }
                    ul{
                        background-color: red;
                    }
                }

            }

            .skills-card{
                display: flex;
                row-gap: 4px;
                column-gap: 4px;
                display: grid;
                grid-template-columns: repeat(4, auto);
                grid-template-rows: repeat(2, auto);
                justify-items: center;

                .row{
                    font-size: 100%;
                    border-bottom: 2px solid black;
                    padding: 2px;
                }
                .column{
                    display: flex;
                    flex-direction: column;
                    font-size: 75%;
                }
            }

            .project-card{

                h4{
                    margin-left: $vw1;
                    
                    
                    a{
                        text-decoration: none;
                        color: $bg-color;
                    }
                    a:visited{
                        color: initial;
                    }
                    a:hover{
                        transition: .2s;
                        text-decoration: underline;
                        color: $bg-color;
                    }

                }
            }

            .card-h3{
                @include indent($vh1);
                
            }

            .email-form{
                display: flex;
                flex-direction: column;
                row-gap: 8px;
                padding: 8px;

                #message{
                    height: 8vh;
                    padding: 4px;
                }

                label{
                    font-size: 125%;
                }

                input, textarea{
                    border-radius: 5px;
                    border: 0px;
                }



                input:last-child{
                    height: 5vh;
                    width: 20vw;
                    font-size: large;
                    border-radius: 10px;
                    color: $accent-color;
                    background-color: $bg-color;
                    margin-left:auto ;
                    margin-right: $vw5;
                    margin-top: 4px;
                }
            }
        }
        
    }
}

// unhide for production
// #resume-section,
// #projects-section,
// #about-section{
//     display: none;
// }

//testing usage, so I dont have to keep clicking the button when live server reloads
#about-section,
#resume-section,
#home-section{
    display: none;
}


@media only screen and (min-width: 1024px) {  

    section{

        header{

            h1{
                padding: .5vh 4vw .5vh 3vw;
            }

            p{
                width: 50%;
                display: flex;
                justify-self: center;
            }

            .links{
                padding: .5vh 2vw .5vh 2vw;
            }
        }
        
        .card-section{
            
            .card{
                width: 25%;
                max-height: 40vh;
                overflow: hidden;
                text-overflow: ellipsis;

                .topic{

                    h2{
                        margin-left: $vw1;
                    }

                    time{
                        margin-right: $vw1;
                    }
                }

                img{
                    width: 90%;
                    margin: 0 auto;
                }

            }
        }
    }
}
