@import "color-scheme";
@import "reset";
@import "font-style";
@import "utilities";

@mixin indent($vw-indent) {
    margin-left: $vw-indent;
    margin-right: $vw-indent;
}


body{
    background-color: $bg-color;
}

nav{
    height: fit-content;
    width: 100vw;
    background-color: $tertiary-color;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0px 1px 10px 0px $secondary-color;
    padding: .5rem 1.5rem .5rem 1.5rem;
    overflow-x: hidden;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;

    a{
        font-size: 1.4rem;
        color: $primary-color;
    }

    a:link{
        text-decoration: none;
        // color: initial;
    }

    a:hover{
        color: $accent-color;
        transition: $transition-default;
    }

    aside {
        display: grid;
        grid-template-columns: repeat(3, 1fr) ;
        align-self: center;
        column-gap: .5rem;

        a {
            margin-left: 1rem;
            color: $primary-color;

            ion-icon{
                vertical-align: middle;
            }
        }

        a:link{
            text-decoration: none;
            // color: initial;
        }

        a:hover{
            color: $accent-color;
            transform: $scale-size;
            transition: $transition-default;
        }
    }
}

section{
    width: 100vw;
    position: relative;

    header{
        position: relative;
        display: grid;
        align-items: center;
        grid-template-areas: 
        "topLeft topRight"
        "summary summary";
        margin: 4vh 0 3vh 0;
        row-gap: 2rem;

        h1{
            grid-area: topLeft;
            color: $primary-color;
            background-color: $tertiary-color;
            font-size: 48px;
            opacity: .75;
            border-right: 3px solid $accent-color;
            border-bottom: 3px solid $accent-color;
            border-radius: 5px 10px 20px 10px;
            width: fit-content;
            margin-left: $vh3;
            padding: .5vh 5vw .5vh 3vw;
            box-shadow: 4px 5px 10px -4px $secondary-color; //bottom right glow
            border: 2px double $primary-color;
        }
    
        p{
            grid-area: summary;
            margin-left: $vh3;
            margin-right: $vh3;
            color: $primary-color;
            background-color: $tertiary-color;
            padding: 16px;
            border-radius: 5px 10px 20px 10px;
            box-shadow: 0px 5px 5px 0px $secondary-color;
            border: 2px double $primary-color;
        }

        .links{
            grid-area: topRight;
            justify-self: flex-end;
            margin-right: $vh3;
            color: white;
            line-height: 1.6rem;

            aside{

                a{
                    color: white;
                    text-decoration: none;
                }
    
                a:hover{
                    text-decoration: underline;
                    color: $accent-color;
                    transition: $transition-default;
                }
            }
        }   
    }
    
    .card-section{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        justify-items: center;
        row-gap: 1rem;
        column-gap: .5rem;
        position: relative;

        .card{
            height: fit-content;
            width: 90%;
            background-color: $secondary-color;
            padding: 1rem;
            border-radius: 5px 15px 40px 15px;

            h2{
                font-size: 150%;
                margin-bottom: 8px;
                width: fit-content;
                padding-bottom: 1vh;
            }

            img{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: auto;
                border-radius: 10px;
                margin-bottom: 16px;
            }

            p{
                @include indent($vw3);
                margin-bottom: 8px;
            }

            .skills{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                width: 95%;

                div{
                    border-radius: 10px;
                    font-size: 75%;
                    background-color: $tertiary-color;
                    color: $accent-color;
                    width: fit-content;
                    padding: 8px;
                }
            }
        }
        
    }
}

#resume-section,
#projects-section,
#about-section{
    display: none;
}

