* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Libre Franklin', sans-serif;
}

:root{
    font-size: 16px;
    --bg-color: #3D3A4B;        //Independence
    --primary-color: #FAF3DD;   //Eggshell
    --secondary-color: #8FC0A9; //Cambridge Blue
    --tertiary-color: #272D2D;  //Deep Space Sparkle
    // --tertiary-color: #3D5A6C;  //Deep Space Sparkle
    --accent-color: #C8D5B9;    //Laurel Green
    --scale-size: scale(1.25);
    --transition-default: .25s;
    --h-step-one: 1vw;
    --h-step-two: 2vw;
    --h-step-three: 3vw;
    --h-step-four: 4vw;
    --h-step-five: 5vw;
    --v-step-one: 1vh;
    --v-step-two: 2vh;
    --v-step-three: 3vh;
    --v-step-four: 4vh;
    --v-step-five: 5vh;
}

body{
    background-color: var(--bg-color);
}

/* utilities */

.white{
    color: whitesmoke;
}

.black{
    color: black;
}

.small-font{
    font-size: 8px;
}

.x20{
    font-size: 20px;
}

.x20-png{
    height: 20px;
    width: 20px;
}

.x24{
    font-size: 24px;
}

.x24-png{
    height: 24px;
    width: 24px;
}

.x32{
    font-size: 32px;
}

.x48{
    font-size: 48px;
}

.x64{
    font-size: 64px;
}

.vertical-align-txtbtm{
    vertical-align: text-bottom;
}

.accent-color{
    color: var(--accent-color);
}

/* End of utilities */

nav{
    height: fit-content;
    width: 100vw;
    background-color: var(--tertiary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0px 1px 10px 0px var(--secondary-color);
    padding: .5rem 1.5rem .5rem 1.5rem;
    overflow-x: hidden;
    align-items: center;

    a{
        font-size: 1.4rem;
        color: var(--primary-color);
    }

    a:link{
        text-decoration: none;
        // color: initial;
    }

    a:hover{
        color: var(--accent-color);
        transition: var(--transition-default);
    }

    aside {
        display: grid;
        grid-template-columns: repeat(3, 1fr) ;
        align-self: center;
        column-gap: .5rem;

        a {
            margin-left: 1rem;
            color: var(--primary-color);

            ion-icon{
                vertical-align: middle;
            }
        }

        a:link{
            text-decoration: none;
            // color: initial;
        }

        a:hover{
            color: var(--accent-color);
            transform: var(--scale-size);
            transition: var(--transition-default);
        }
    }
}

section{
    width: 100vw;
    position: relative;

    header{
        position: relative;
        display: grid;
        align-items: center;
        grid-template-areas: 
        "topLeft topRight"
        "summary summary";
        margin: 4vh 0 3vh 0;
        row-gap: 2rem;

        h1{
            grid-area: topLeft;
            color: white;
            background-color: var(--tertiary-color);
            font-size: 48px;
            opacity: .75;
            border-right: 3px solid var(--accent-color);
            border-bottom: 3px solid var(--accent-color);
            border-radius: 5px 10px 20px 10px;
            width: fit-content;
            margin-left: var(--h-step-three);
            padding: .5vh 5vw .5vh 3vw;
            // box-shadow: -5px -5px 10px 0px var(--accent-color); //top left glow 
            box-shadow: 4px 5px 10px -4px var(--secondary-color); //bottom right glow
        }
    
        p{
            grid-area: summary;
            margin-left: var(--h-step-five);
            color: white;
        }

        .links{
            grid-area: topRight;
            justify-self: flex-end;
            margin-right: var(--h-step-three);
            color: white;
            line-height: 1.6rem;

            aside{

                a{
                    color: white;
                    text-decoration: none;
                }
    
                a:hover{
                    text-decoration: underline;
                    color: var(--accent-color);
                    transition: var(--transition-default);
                }
            }
        }   
    }
    
    .card-section{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        justify-items: center;
        row-gap: 1rem;
        column-gap: .5rem;
        width: 100%;
        border-right: 3px solid var(--accent-color);
        position: relative;

        .card{
            // flex: 100px;
            height: 50%;
            width: 25%;
            background-color: var(--secondary-color);

            h2{
                font-size: 100%;
            }
        }
        
    }
}

